.my-goal {
    padding: 90px 64px 127px 64px;

    @include mq($phone) {
        padding: 60px 30px 65px;
        text-align: center;
    }
}

.my-goal__content {
    max-width: 349px;
    margin-left: auto;
}

.my-goal__subtitle {
    margin-bottom: 16px;
}

.services {
    padding: 65px 59px;
}