/*--------------------------------------------------------------
## Banners
--------------------------------------------------------------*/
.banner {
	height: 100vh;
	max-height: 720px;

	@include mq($phone) {
		max-height: 100vh;
	}
}

.banner-small {
	max-height: 490px;
	height: 100vh;
}

.banner--touch {
	// background-image: url('./assets/images/get-in-touch.jpg');
	background-image: linear-gradient(180deg, rgba(246, 246, 246, 0.25) 0%, #F6F6F6 96.92%),  url('./assets/images/get-in-touch.jpg');
	background-size: cover;
	
}

.banner-what-i-do {
	// background-image: url('./assets/images/get-in-touch.jpg');
	background-image: linear-gradient(180deg, rgba(246, 246, 246, 0.25) 0%, #F6F6F6 96.92%),  url('./assets/images/what-i-do.jpg');
	background-size: cover;	
}

.banner-my-work {
	// background-image: url('./assets/images/get-in-touch.jpg');
	background-image: linear-gradient(180deg, rgba(246, 246, 246, 0.25) 0%, #F6F6F6 96.92%),  url('./assets/images/my-work-bg.jpg');
	background-size: cover;	
}


.banner-caption {

	h1,
	p {
		max-width: 508px;
	}

	p {
		margin-bottom: 58px;
	}
}
