.transition-fade {
  transition: .4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.animate {
  transform: translate3d(0, 50px, 0);
  transition: transform 2.25s cubic-bezier(.19, 1, .22, 1), opacity 2.25s cubic-bezier(.19, 1, .22, 1);
  will-change: transform;
  opacity: 0;

  &.wow {
    transform: translateZ(0);
  }
}


.has-animation {
  position: relative;

  p,
  img,
  figure:before {
    opacity: 0;
  }

  &.animate-in {

    p,
    img,
    figure:before {
      animation: textHidden 0.1s .9s forwards;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 10;
    }

    &:before {
      background-color: $color-main;
    }

    &:after {
      background-color: $dark-gray;
      animation-delay: .5s;
    }
  }

  &.animation-ltr.animate-in {
    &:before {
      animation: revealTTB 1.8s ease;
    }

    &:after {
      animation: revealTTB 1s .6s ease;
    }
  }

  &.animation-rtl.animate-in {
    &:before {
      animation: revealBTT .8s ease;
    }

    &:after {
      animation: revealBTT 1s .6s ease;
    }
  }
}

.revealTTB {
  -webkit-animation-name: revealTTB;
  animation-name: revealTTB;
}

.revealBTT {
  -webkit-animation-name: revealBTT;
  animation-name: revealBTT;
}

@keyframes revealTTB {
  0% {
    height: 0;
    width: 100%;
    top: 0;
  }

  50% {
    height: 100%;
    width: 100%;
    top: 0;
  }

  100% {
    height: 0;
    width: 100%;
    top: 100%;
  }
}

@keyframes revealBTT {
  0% {
    height: 0;
    width: 100%;
    bottom: 0;
  }

  65% {
    height: 100%;
    width: 100%;
    bottom: 0;
  }

  100% {
    height: 0;
    width: 100%;
    bottom: 100%;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}