/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts
$font-default-serif: Maison Neue;
$font-default-sans-serif: Aeonik;

$font-main: $font-default-sans-serif;
$font-title: Maison Neue Extended;
$font-medium: Maison Neue Extended;

// Colors
$white: #fff;
$black: #000940;
$gray: #F6F6F6;
$dark-gray: #939393;
$blue: #0023F9;


$c-text: $dark-gray;


$color-main: $blue;
// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 640;
$tablet: 991;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1400;

