.list {
    margin-bottom: 60px;
}
.list__item {
    font-family: $font-medium;
    letter-spacing: 0.1px;
    line-height: 24px;
    margin-bottom: 15px;
}

.socials {
    width: 247px;
    @include mq($phone) {
        margin: auto;
    }
}
.socials__item {
    border: 1px solid $white;
    border-radius: 100px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover span {
        color: $blue;
    }

}

.socials__link {
    height: 100%;
    width: 100%;
}

.socials__item--footer {
    border: 1px solid $dark-gray;
    &:hover span {
        color: $blue;
    }
}

.socials span {
    font-size: 16px;
    color: $white;
    transition: $dur $ease;
}

.socials--footer span {
    color: $black;
}

.socials--menu {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    @include mq($phone) {
        bottom: -75px;
    }
}
.socials--menu span {
    color: $black;
}