<footer class="site-footer">
    <div class="container">
        <div class="row align-items-center py-4">
            <div class="col-12 col-lg-2 text-center text-lg-left">
                <a href="{{root}}index.html">
                    <img src="{{root}}assets/images//logo.svg" alt="Logo">
                </a>
            </div>
            <div class="col-12 col-lg-8 navbar-expand text-center weight-500">
                <div class="navbar-nav d-block d-lg-flex justify-content-center">
                    <div class="nav-item"><a class="nav-link" href="{{root}}what-i-do.html">What I do</a></div>
                    <div class="nav-item"><a class="nav-link" href="{{root}}my-work.html">My Work</a></div>
                    <div class="nav-item"><a class="nav-link" href="{{root}}get-in-touch.html">Get in touch</a></div>
                </div>
            </div>
            <div class="col-12 col-lg-2 d-none d-lg-block text-right">
                <ul class="socials socials--footer d-flex align-center justify-content-between">
                    <li class="socials__item socials__item--footer"><a href="https://www.behance.net/jakyriec"
                            target="_blank"><span class="font-behance"></span></a></li>
                    <li class="socials__item socials__item--footer"><a
                            href="https://www.linkedin.com/in/igor-jakari%C4%87/" target="_blank"><span
                                class="font-linkedIn"></span></a></li>
                    <li class="socials__item socials__item--footer"><a
                            href="https://www.instagram.com/jakyriecdesigns/" target="_blank"><span
                                class="font-instagram"></span></a></li>
                    <li class="socials__item socials__item--footer"><a href="https://www.upwork.com/fl/igorjakaric"
                            target="_blank"><span class="font-upwork"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row pb-3 copyright">
            <div class="col-12 centred small"><span class="c-gray centred text-muted mr-1">&copy; 2020 Igor Jakaric.
                    All right
                    reserved.</span>
            </div>
        </div>
    </div>
</footer>