<header class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">

                <a href="{{root}}index.html">
                    <img src="{{root}}assets/images/logo.svg" alt="Logo">
                </a>

                <script>
                    const bleep = new Audio();
                    bleep.src = '{{root}}assets/sounds/click_09.ogg';
                </script>
                <a href="#" class="menu-btn js-menu-btn">
                    <span></span>
                </a><!-- menu-button -->


                <audio id="sound"
                    src="http://c0026106.cdn1.cloudfiles.rackspacecloud.com/2fbc94686ceb434a864c0691906bd144_dog.mp3"
                    preload="auto"></audio>


                <nav id="site-navigation" class="main-navigation js-main-nav d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <ul id="primary-menu" class="col-12 col-md-6 d-flex flex-column primary-menu clear">
                                <li class="menu-item"><a href="{{root}}what-i-do.html">WHAT I DO</a></li>
                                <li class="menu-item "><a href="{{root}}my-work.html">MY WORK</a></li>
                                <li class="menu-item "><a href="{{root}}get-in-touch.html">GET IN TOUCH</a></li>
                                <li class="menu-item "><a terget="_blank" href="{{root}}assets/Resume.pdf">RESUME</a></li>
                            </ul>

                            <div class="col-12 col-sm-6">
                                <address class="d-none d-sm-flex flex-column justify-content-end">
                                    <b>Office:</b><br>
                                    <a href="https://goo.gl/maps/js6ffQu57e98uz3T9" target="_blank">Novi Sad,
                                        Miroslava
                                        Antica 2</a>
                                    <br><br>
                                    <b>Telephone:</b><br>
                                    <a href="tel:+381607699222">+381 60 7699222</a>
                                </address>

                                <ul
                                    class="socials socials--menu d-flex align-center justify-content-between d-flex">
                                    <li class="socials__item socials__item--menu"><a
                                            href="https://www.behance.net/jakyriec" target="_blank"><span
                                                class="font-behance"></span></a></li>
                                    <li class="socials__item socials__item--menu"><a
                                            href="https://www.linkedin.com/in/igor-jakari%C4%87/"
                                            target="_blank"><span class="font-linkedIn"></span></a></li>
                                    <li class="socials__item socials__item--menu"><a
                                            href="https://www.instagram.com/jakyriecdesigns/" target="_blank"><span
                                                class="font-instagram"></span></a></li>
                                    <li class="socials__item socials__item--menu"><a
                                            href="https://www.upwork.com/fl/igorjakaric" target="_blank"><span
                                                class="font-upwork"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </nav><!-- #site-navigation -->
            </div>
        </div>
    </div>
</header>