/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
html,
body {
	@include font-smoothing(antialiased);
	height: 100%;
	// background-color: $gray;
}

html {
	box-sizing: border-box;
}

body.menu-open {
	height: 100vh;
	overflow-y: hidden;
}

main {
	background-color: $gray;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.container--small {
	max-width: 713px;
	margin: auto;
}

ul {
	margin-bottom: 15px;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $black;
    z-index: 100500;
}

#page-preloader .spinner {
    //width: 32px;
    //height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    //background: url('/images/spinner.gif') no-repeat 50% 50%;
    //margin: -16px 0 0 -16px;
	color: #fff;
	transform:translate(-50%, -50%);
}