/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: $font-main;
	font-size: 18px;
	line-height: 1.35;
}

p {
	color: $black;
	margin-bottom: 25px;
	line-height: 28px;
	letter-spacing: 0.1px;
	
	@include fluid-type(16px, 18px, 375px, 1440px);
	@include mq($phone) {
		line-height: 24px;
	}
}

p.small {
	font-size: 16px;
	color: $black;
	letter-spacing: 0.1px;
	line-height: 24px;
}

h1.display {
	@include fluid-type(46px, 56px, 375px, 1440px);
	margin-bottom: 20px;
	font-family: $font-title;
}

h2 {
	font-family: $font-title;
	@include fluid-type(30px, 40px, 375px, 1440px);	
}

h3 {
	font-family: $font-title;
	@include fluid-type(30px, 24px, 375px, 1440px);	
}

h4 {
	font-family: $font-title;
	@include fluid-type(14px, 18px, 375px, 1440px);
	
}


a.touch-link {
	@include fluid-type(20px, 40px, 375px, 1440px);
	text-decoration: underline;
}
blockquote {
	margin: 0 25px;
}

pre {
	background: $black;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

// Icon font
[class*='font-'] {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $black;
	font-size: 30px;
	line-height: 1;
}
